{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Home</title>
</head>
<body style="background-color: #014421">
<nav class="navbar navbar-fixed-top" style="background-color: #7b1113; border-radius: 0 !important; text-align: center;">
<span style="color: white; float: left; font-size: 50px"></span>
	<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" style="margin: 20px;  color: white; float: right; background-color: #014421"><b>Send us your thoughts</b></button>
	</nav>
<div class="container" style="padding: 0px; padding-top: 100px; background-color: #e1e1e1">

	<!-- <a class="btn btn-large btn-primary" data-toggle="confirmation" data-title="Open Google?"
   href="https://google.com" target="_blank" id="example">Confirmation</a> -->
   <!-- <button class="example2 btn btn-primary">example confirm</button> -->
<!-- <div class="alert alert-success" style="margin: 0 auto; width: 50%; margin-bottom: 10px; display: {{display}}" id="success_message">
  <strong>Success!</strong> Your form has been submitted.
</div> -->
	<ul style="padding: 0px">
		{% for forum in forum %}
		<li style="list-style-type:none;" style="text-align: center;">
			<div class="panel panel-default" style="margin: 0 auto; display: block; width: 50%; margin-bottom: 10px">
			<div class="title" style="margin-top: 10px">
				<span style="margin: 10px"><b>#{{forum.title}}</b></span>
				<!-- <a data-toggle="collapse" href="#collapse1"><b>#{{forum.title}}</b></a> -->
			</div>
			  <div class="panel-body">
				  	{% if forum.image %}
				  		<img src="{{forum.image.url}}" alt="" class="img-responsive center-block" style="margin-bottom: 10px" />
				  	{% endif %}
			    {{forum.content}}
			    <br><br>
			    <small style="vertical-align: bottom;">
			    by {{forum.user}} - {{forum.date}}
			    </small>
			    <button class="btn" data-toggle="collapse" href="#collapse{{forum.id}}" style="float: right; background-color: #7b1113; color: white">View Comments</button>
			  </div>
			   <div id="collapse{{forum.id}}" class="panel-default collapse">
				  <!-- Default panel contents -->
				  <ul class="list-group">
				  {% for comments in comment %}
					{% if forum.id == comments.forum.id %}
						<li class="list-group-item" style="border-left-style: none; border-right-style: none;">{{comments.comment}}<br><br><small>by anonymous - {{comments.date}}</small></li>
					{% endif %}
				{% endfor %}
				  </ul>
				  <div class="panel-footer" style="text-align: center;">
				  	<form action="{% url 'add_comment' %}" method="POST">
				  	{% csrf_token %}
				  		<div class="form-group">
				  			<input type="hidden" name="forum_id" value="{{forum.id}}">
				  			<textarea class="form-control" id="exampleTextarea" rows="3" name="comment"></textarea>
				  			<button type="submit" class="btn" style="margin-top: 5px; background-color: #014421; color: white">Comment</button>
				  		</div>
				  	</form>
				  </div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	<!-- Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Fill out the form</h4>
	        </div>
	        <div class="modal-body">
	        	<div class="form-group">
		          <form method="POST" action="send_forum/" name="submission" id="submission" enctype="multipart/form-data"">
						{% csrf_token %}
						<input type="text" class="form-control" placeholder="Title" name="title" style="margin-bottom: 10px; border-radius: 0 !important;">
						<input type="text" class="form-control" placeholder="Code Name" name="codename" style="margin-bottom: 10px; border-radius: 0 !important;">
						<textarea class="form-control" rows="3" name="content" style="margin-bottom: 10px; border-radius: 0 !important;"></textarea>
						<input type="file" name="myfile"/>
						<!-- <label for="title"></label>
						<input type="text" name="title" id="title">
						<p>Content</p><input type="textarea" name="content" rows="4">
						<p>Code Name</p><input type="text" name="codename">
						<p></p><input type="submit" name="button"> -->
					</form>
				</div>
	        </div>
	        <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirm_send">Submit</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	</div>
	<div class="modal fade" id="confirm_send" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header" style="background-color: #337ab7; color: white">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Submit Form</h4>
	        </div>
	        <div class="modal-body">
	        	You are about to submit a form.
	        </div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-primary _send">Post</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--   <script src="https://raw.githubusercontent.com/mistic100/Bootstrap-Confirmation/master/bootstrap-confirmation.min.js"></script>
 -->  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
  <script type="text/javascript">
  $('._send').on('click', function(){
	$('#submission').submit()
})
  	// $('.example2').on('click', function () {
   //                                  $.confirm({
   //                                      title: 'Confirm Submission',
   //                                      content: 'You are about to submit a form.',
   //                                      buttons: {
   //                                          submit: {
   //                                              text: 'Submit',
   //                                              btnClass: 'btn-blue',
   //                                              keys: [
   //                                                  'enter',
   //                                                  'shift'
   //                                              ],
   //                                              action: function () {
   //                                                  this.$content // reference to the content
   //                                                  document.submission.submit()
   //                                                  // $.alert('Submitting...');
   //                                              }
   //                                          },
   //                                          cancel: function () {
   //                                              // $.alert('Canceled!');
   //                                          },
   //                                      }
   //                                  });
   //                              });
//   	$(function() {
//     // setTimeout() function will be fired after page is loaded
//     // it will wait for 5 sec. and then will fire
//     // $("#successMessage").hide() function
// //     setTimeout(function() {
// //         $("#success_message").hide('blind', {}, 500)
// //     }, 5000);
// // });

  </script>
</html>