{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <form action="{% url 'sign_in' %}" method="POST" class="col-md-6 col-md-offset-3">
        {{ error }}
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" value="{{ username }}" class="form-control" autocomplete="off" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control" id="password">
        </div>
        
        <button class="btn btn-primary">Sign In</button>
    </form>
{% endblock %}